<p>Now playing: {{track.title}}</p>

<audio class="player" autoplay controls>
    <!-- The component object takes care of updating sourceUrl. -->
    <source src="{{unbound track.url}}" type="{{unbound track.filetype}}">
    Your browser does not support the audio tag.
</audio>
