@mixin rackham-button {
  @include box-shadow(0, 0.5rem, 0, #64155D);
  background-color: #831c79;
  border-radius: 0 0 5px 5px;
  color: white;
  transition: none;
  cursor: pointer;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.8rem;
  outline: none;
  border: none;
  position: relative;

  &:hover:enabled { top: 0.2rem; }
  &:active:enabled { top: 0.6rem; }
}
