html {
  font-size: 62.5%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.current-track {
  font-family: 'Lora', serif;
  color: white;

  .title { font-style: italic; }

  .artist {
    font-style: italic;
    font-weight: bold;
  }

  font-size: 2.4rem;

  .timestamp {
    font-style: italic;
    font-size: 1.8rem;
    color: #ad98af;
  }
}

table.tracks {
  color: white;
  font-size: 1.4rem;
  text-align: left;
}

form.login {
  input {
    font-size: 1.4rem;
    border: 2px solid #ad98af;
    @include placeholder {
      color: #ad98af;
    }
  }
}

#rooms {
  a { text-decoration: none; }

  a .room.title { text-decoration: underline; }
  a:hover .room.title { color: white; }

  .room.title {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #BF97DA;
  }

  h2 {
    font-size: 2.4rem;
    color: #BF97DA;
  }
}

nav#menu {
  li a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #BF97DA;
    &:hover { color: white; }
  }
}

.notification.error {
  color: #F0B3BD;
  font-size: 1.8rem; 

  a {
    color: #F0B3BD;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    &:hover { color: white; }
  }
}

.no-album-cover {
  font-size: 3.2rem;
  font-weight: bold;
  color: #84157a;
}
