@import 'mixins/animation';
@import 'mixins/placeholder';
@import 'mixins/rackham-button';
@import 'mixins/linear-gradient';

@mixin transform($args) {
  -webkit-transform: $args;
  -moz-transform: $args;
  transform: $args;
}

@mixin transform-origin($args) {
  -webkit-transform-origin: $args;
  -moz-transform-origin: $args;
  transform-origin: $args;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}

@mixin no-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin replace-image($url, $height, $width) {
  @include no-text;
  background-image: url($url);
  background-repeat: no-repeat;
  display: block;
  height: $height;
  width: $width;
}
