@import 'mixins';
@import 'normalize';
@import 'fonts';
@import 'spinner';

body {
  background-color: #413445;
}

header {
  @include linear-gradient('to bottom', #614c67 0%,
                                        #614c67 50%,
                                        #55445c 51%,
                                        #413445 100%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 149px;
  padding: 8px 0.5rem 2rem 1rem;

  #logo {
    margin: 0;
    @include replace-image('/images/logo.gif', 148px, 149px);
  }
}

nav#menu {
  ul { list-style-type: none; }
  li:not(:first-child) { margin-top: 0.5rem; }
}

form.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ad98af;
  padding: 1rem;
  margin: 0 auto;
  width: 29rem;

  fieldset {
    display: flex;
    border: 0;
    padding: 0;
  }

  button {
    @include rackham-button;
    width: 8rem;
  }

  input.password { margin-top: 0.5rem; }

  input {
    padding: 0.5rem;
    border: 1px solid #bb82cc;
  }
}

#room {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;

  .main {
    display: flex;
    margin-top: 1rem;

    img.album-cover {
      margin-bottom: 1rem;
      width: 300px;
      height: 300px;
      min-width: 300px;
      min-height: 300px;
    }
  }

  .current-track {
    width: 100vw;
    .timestamp { margin-left: 1rem; }
  }
}

#rooms {
  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0.5rem;

      .room.title {
        background-color: rgba(131, 28, 121, 0.5);
        display: block;
        padding: 0.5rem 1rem 1rem 1rem;
      }

      a {
        &:hover { border-color: #831c79; }
        &:hover .room.title { background-color: #831c79; }
        border: 1rem solid rgba(131, 28, 121, 0.5);
        display: inline-block;
        width: 300px;
      }
    }
  }
}

div.tracks.summary {
  .current-track {
    padding: 1rem;
    .track { background: rgba(131, 28, 121, 0.9); }
    .title:after { content:"\a"; white-space: pre; }
    .by { margin-right: 0; }
  }
}

.playlist {
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 3rem;
}

table.tracks {
  width: 100%;
  tr {
    &:nth-child(odd) { background-color: #2b222e; }
    &:nth-child(even) { background-color: #413445; }

    th { border: 1px solid #563c5e; }

    td, th {
      padding: 0.5rem 1rem;
    }

    &.is-playing {
      color: white;
    }
  }

// A gradient below the playlist... need to readd this.
//  .gradient {
//    @include linear-gradient(#2b222e 0%, transparent);
//    opacity: 0.5;
//    height: 5rem;
//  }
}

/* File upload button */
input[type=file] { display: none; }

.upload-track {
  margin-top: 1vh;
  @include rackham-button;

  .text {
    position: relative;
    z-index: 10;
  }

  .upload-progress {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ad15dc;
    opacity: 0.5;
  }
}

li.room {
  margin: 0.5rem 0;
  display: block;
}
