@import 'mixins';
@import 'normalize';
@import 'fonts';
@import 'spinner';

body {
  padding: 2rem;
  min-height: 100vh;
  @include linear-gradient('to bottom', #A0195A 0,
                                        #551e63 75px,
                                        #1A0625 150px)
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 75px;

  #logo {
    margin: 0;
    @include replace-image('/images/logo.png', 57px, 110px);
  }
}

nav#menu {
  ul {
    list-style-type: none;
    display: flex;

    li a {
      padding: 0.25rem 0.5rem;
      margin-left: 0.5rem;
      display: inline-block;
      background-color: #831c79;

      &:hover { background-color: #A01E9B; }
    }
  }
}

form.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ad98af;
  padding: 1rem;
  margin: 0 auto;
  width: 29rem;

  fieldset {
    display: flex;
    border: 0;
    padding: 0;
  }

  button {
    @include rackham-button;
    width: 8rem;
  }

  input.password { margin-top: 0.5rem; }

  input {
    width: 18rem;
    padding: 0.5rem;
    border: 1px solid #bb82cc;
  }
}

#room {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;

  .main {
    display: flex;
    margin-top: 1rem;

    img.album-cover {
      margin-bottom: 1rem;
      width: 300px;
      height: 300px;
      min-width: 300px;
      min-height: 300px;
    }
  }

  .current-track {
    width: 100vw;
    .track { background-color: #831c79; }
    .timestamp { margin-left: 1rem; }
  }
}

#rooms {
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      display: inline-block;
      margin: 0 0.5rem 0.5rem 0;

      .room.title {
        display: block;
        padding: 0 0 1rem 1rem;
      }

      a {
        background-color: rgba(131, 28, 121, 0.5);
        padding: 1rem;
        display: inline-block;
        width: 300px;
        &:hover { background-color: #831c79; }
      }
    }
  }
}

div.tracks.summary {
  .current-track {
    padding: 1rem;
    .track { background: rgba(131, 28, 121, 0.9); }
    .title:after { content:"\a"; white-space: pre; }
    .by { margin-right: 0; }
  }
}

.playlist {
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 3rem;
}

table.tracks {
  width: 100%;
  tr {
    &:nth-child(odd) { background-color: #2b222e; }
    &:nth-child(even) { background-color: #413445; }
    th { border: 1px solid #563c5e; }
    td, th { padding: 0.5rem 1rem; }
    &.is-playing { color: white; }
  }

// A gradient below the playlist... need to readd this.
//  .gradient {
//    @include linear-gradient(#2b222e 0%, transparent);
//    opacity: 0.5;
//    height: 5rem;
//  }
}

/* File upload button */
input[type=file] { display: none; }

.upload-track {
  margin-top: 1vh;
  @include rackham-button;

  .text {
    position: relative;
    z-index: 10;
  }

  .upload-progress {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ad15dc;
    opacity: 0.5;
  }
}

li.room {
  margin: 0.5rem 0;
  display: block;
}

.notification.error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #8D0202;
  padding: 1rem;
  border: 1px solid #9E3333;
  border-radius: 6px;
  margin-bottom: 1rem;

  p { margin: 0; }

  a {
    &:hover { background-color: #660918; }
  }
}

#volume-control {
  display: inline-block;
  width: 50px;
  height: 15px;
  padding: 0 1rem;
  background: url('/images/volume-control.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;

  #volume-control-fill {
    height: 12px;
    width: 12px;
    background: url('/images/volume-control-thumb.png');
    position: relative;
  }
}
