<form class="login">
  <fieldset>
    {{input type="text"
            name="login"
            class="login"
            value=login
            placeholder="Username"
            required="true"
            autofocus="true"}}

    {{input type="password"
            name="password"
            class="password"
            value=password
            placeholder="●●●●●●●●"
            required="true"}}
  </fieldset>

  <button {{action "authenticate"}}>Login</button>
</form>
