<input type="file"></input>

<button {{action "openInput" target="view"}}
  {{bind-attr disabled=view.isDisabled}}
  {{bind-attr class=":upload-track view.upload.isPending"}}>

  <span class="text">Upload a track</span>

  {{#if view.upload.isPending}}
    <span {{bind-attr style=view.progressWidth}} class="upload-progress"></span>
  {{/if}}
</button>

