<div id="rooms">
  <ul>
    {{#each}}
      <li>
        {{#link-to 'room' this}}
          <span class="room title">{{title}}</span>
          {{render 'tracks-summary' tracks}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
