<div class="room">
  {{music-file room=content track=currentTrack}}

  <div class="main">
    <img class="album-cover" src="http://ecx.images-amazon.com/images/I/512BBWRFD6L._SY300_.jpg">

    <div class="playlist">
      {{render 'tracks'}}
      {{ view 'mp3-upload'}}
    </div>
  </div>
</div>
