<div id="room">
  {{music-file room=content track=currentTrack}}

  <div class="main">
    {{#if currentTrack.coverImageUrl}}
      <img class="album-cover" {{bind-attr src="currentTrack.coverImageUrl"}}>
    {{/if}}

    <div class="playlist">
      {{render 'tracks'}}
      {{ view 'mp3-upload'}}
    </div>
  </div>
</div>
