<table class="tracks">
  <tr>
    <th>Title</th>
    <th>Artist</th>
  </tr>

  {{#each}}
    <tr {{bind-attr class="hasPlayed isPlaying"}}>
      <td>{{title}}</td>
      <td>{{artist}}</td>
    </tr>
  {{/each}}
</table>
