<h2>Upcoming Songs</h2>

<ol class="tracks">
  {{#each}}
  <li {{bind-attr class="hasPlayed"}}>
      {{#if isPlaying}}&rarr;{{/if}}
      {{title}}
      {{#if playedAt}}Played at {{playedAt}}{{/if}}
    </li>
  {{/each}}
</ol>
