<div class="tracks">
  <ol>
    {{#each}}
      <li {{bind-attr class="hasPlayed isPlaying"}}>
        {{partial "track"}}
        {{#if playedAt}}
          <p class="played-at">Played <time>{{relative-date playedAt}}</time></p>
        {{/if}}
      </li>
    {{/each}}
  </ol>
  <div class="gradient"></div>
</div>
